<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--These are the WiiMote to Mouse button assignments:-->
    <add key="WiiMote_A" value="MOUSE_LEFT"/>
    <add key="WiiMote_B" value="MOUSE_RIGHT"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
